/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
	
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

/*styling the projects.html page*/

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80rem;
    margin: 0 auto;
    padding:  2rem;
}
#project-heading {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	margin-bottom: 2rem;
}

/* adding a child of the container */ 
.container > * {
    width: 100%;

}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

justify-center {
    justify-content: center;
}

text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.projects {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}


li:not(:last-child) {
    margin-bottom: 25px;
}

.project-items {
	font-size: 1.5rem;
	margin: 2.5rem 0;
	font-weight: 100;
	text-decoration: none;
	color: inherit;
	
}

.project-items:hover {
	cursor: pointer;
	font-size: 2.5rem;
	text-decoration: underline;
	color: yellow;
	
}

 

#btn {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.75em;
	font-weight: 600;
	
	
	padding: 2px;
	color: #303F9F;
	border: solid;
	border-color: white;
	background-color: white;
	position: relative;
	
}

.project-button {
	font-size: 1.5rem;
	margin: 3.5rem 0;
	font-weight: 100;
	text-decoration: none;
	color: inherit;
	position: relative;
	bottom: 0.625rem;
	border-radius: 30px;
	padding: 10px;
	
}
.project-button:hover {
	transform: translateY(-0.25em);
}


